.background {
    background-image: url('images/background.png');
    position: relative;
    width: 500px;
    height: 330px;
}

#hydralisk {
    position: absolute;
    top: 60px;
    left: 40px;
    width: 160px;
    height: 160px;
}
#bunker {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 150px;
    height: 150px;
}
#spit {
    display: none;
    position: absolute;
    top: 140px;
    left: 150px;
    width: 50px;
    height: 30px;
    z-index: 2;
}
#explosion {
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.bar_container {
    position: absolute;
    top: 60px;
    right: 5px;
    width: 180px;
    background-color: #f1f1f1;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-radius: 7px;
}
#hp_bar {
    height: 20px;
    background-color: #00ff00;
    border-radius: 7px;
}